<ul class="watch_list">
    {{#each this}}
    <li class="flag list">
        <img class="watch_flag" src="{{flag}}" alt="flag{{name}}" width="300" height="150">
        <h3 class="watch_title" data-name="{{name}}">{{name}}</h3>
    </li>
    {{/each}}
</ul>